{% for interface in host.facts.interfaces %}
{% set ns = namespace(vlan_list = "") %}
interface {{ interface.name }}
{%  if interface.enabled == false %}
  shutdown
{%  else %}
  no shutdown
{% endif %}
{%  if interface.ip_addresses is defined  and interface.ip_addresses|length > 0 %}
{%    if interface.name == "Management1" or "Loopback" in interface.name %}
{%    else %}
  no switchport
{%    endif%}
{%    if interface.ip_addresses[0].vrf != none %}
  vrf {{ interface.ip_addresses[0].vrf.name }}
{%    endif %}
  ip address {{ interface.ip_addresses[0].address }}
{%  elif interface.untagged_vlan != none %}
  switchport
  switchport access vlan {{ interface.untagged_vlan.vid }}
{%  elif interface.tagged_vlans| length > 0 %}
  switchport
  switchport mode trunk
{%    for vlan in interface.tagged_vlans %}
{%      if interface.tagged_vlans[-1] == vlan %}
{%      set ns.vlan_list = ns.vlan_list + vlan.vid|string %}
{%      else %}
{%      set ns.vlan_list = ns.vlan_list + vlan.vid|string + "," %}
{%      endif %}
{%    endfor %}
  switchport trunk allowed vlan {{ ns.vlan_list }}
{%  else %}
  switchport
  switchport mode trunk
{%  endif %}
{%  if interface.description is defined and interface.description|length > 0 %}
  description {{ interface.description }}
{%  endif %}
{%  if interface.lag != none %}
{%  set lag_split = interface.lag.name.split("l") %}
  channel-group {{ lag_split[-1] }} mode active
{%  endif %}
!
{% endfor %}
